  .logo {
      width: 200px;
      height: 160px;
  }

  body {
      background-color: rgb(247, 247, 247);
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      width: 1650px;
      height: 950px;
  }

  header {
      display: flex;
      height: 150px;
      width: 100%;
  }

  .sslo {
      color: orangered;
  }

  nav,
  section {
    height: 800px;
    float: left;
  }
  
  nav {
    position: relative;
    background: rgb(253, 211, 133);
    width: 200px;
    z-index: 1;
  }
  
  .menu {
    width: 200px;
    margin: 20px auto;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    font-size: 16px;
  }
  
  .menu > li {
    width: 100%;
    text-align: center;
    line-height: 60px;
    background-color: rgb(253, 211, 133);
    position: relative;
  }
  
  .menu a {
    color: rgb(123, 123, 255);
    font-weight: 1000;
  }
  
  .submenu {
    position: absolute;
    top: 0;
    left: 100%;
    width: auto;
    background-color: rgb(255, 193, 78);
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    transition: visibility 0s, opacity 1s;
  }
  
  .menu > li:hover .submenu {
    display: block;
  }
  
  .submenu > li {
    padding :0 20px 0 20px;
    display: inline-block;
    line-height: 50px;
    
  }

  .menu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
  }
  
  .submenu-container {
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
  }
  
  .menu > li:hover .submenu-container {
    display: flex;

  }

  section {
      position: relative;
      display: flex;
      width: 1390px;
  }



  article {
      position: absolute;
      top: 100px;
      left: 560px;
  }

  .highlight {
      position: absolute;
      top: 100px;
      left: 80px;
  }


  .sloganbox {
      position: relative;
      float: right;
      width: 1422px;
      height: 150px;


  }

  .slogan {
      position: absolute;
      left: 400px;
      top: 45px;
      font-family: "맑은 고딕";
      font-size: 3em;
      font-weight: 700;
      color: #2e2e72;
      text-align: center;
  }

  .linkk {
      position: absolute;
      bottom: 0;
      left: 5px;
  }

  .intro {
      margin-top: 20px;
      margin-left: 10px;
  }

  .newstt {
      text-align: center;
      width: 630px;
      height: 60px;
      background-color: #2e2e72;
  }

  .high {
      text-align: center;
      height: 60px;
      width: 400px;
      background-color: #2e2e72;
  }

  table {
      margin: 0 auto;
  }
